@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodeItalic-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodeRoman-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Abhaya Libre";
    src: url("fonts/AbhayaLibre-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Abhaya Libre";
    src: url("fonts/AbhayaLibre-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Abhaya Libre";
    src: url("fonts/AbhayaLibre-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Abhaya Libre";
    src: url("fonts/AbhayaLibre-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Abhaya Libre";
    src: url("fonts/AbhayaLibre-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-ExtraBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

$primaryFont: "Abhaya Libre", sans-serif;
$secondaryFont: "Source Code Pro", sans-serif;

$primaryColor: #fff;
$secondaryColor: rgb(0, 0, 0);
$thirdColor: #000;

$overlayColor: rgb(245, 245, 245);
$disabledButtonColor: rgb(138, 138, 138);

$shadowOne: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.55);

$mainHeaderFontSize: 8.5rem;
$titleFontSize: 1.8rem;
$paragraphFontSize: 1rem;

$bigButtonFontSize: 0.9rem;
$smallButtonFontSize: 0.75rem;

$rotatedTitlesFontSize: 1.2rem;

$subtitleFontSize: 2.2rem;

$maxWidth: 1200px;
$smallContainerMaxWidth: 350px;
$mobileContainerMaxWidth: 450px;
$sidePadding: 7rem;
$rowGap: 4.5rem;

$mainMenuHeight: 4.5rem;
